@import url('https://fonts.googleapis.com/css?family=Raleway:600|Open+Sans:300,600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color:#261831;
  background-image:linear-gradient(#442a68,#261831);
  background-repeat:no-repeat;
  color:rgb(10,10,10);
  font-size:14px;
  height:100vh;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  color:#19213D;
}


ul {
  list-style:none;
}

a {
  text-decoration:none;
  font-weight:600;
}

.descr {
  text-shadow: 0 1px 0 #000;
}

.card {
  width:30%;
  text-align:center;
}

/* Utilities */

.smaller-font {
  font-size:12px;
}

/* Avatar */

.profile-pic {
  width:150px;
  height:150px;
}

.img-round {
  border-radius:50%;
}


#social-links {
  padding:0;
  list-style:none;
}

#social-links li {
  display:inline;
  font-size:36px;
  padding:0 5px;
}

/* Modal */
.modal-title {
  font-size:16px;
}

/* Responsive Queries */

@media only screen and (max-width: 1200px) {
  .card {
    width:80%;
  }
}

@media only screen and (max-width: 768px) {

  .card {
    width:100%;
  }

  .header {
    align-items:center !important;
    flex-direction:column;
  }

  .descr {
    text-align:center !important;
    margin:0 !important;
  }

  .descr p {
    margin:0;
  }

  .side-info {
    width:100% !important;
    text-align: center !important;
    padding:0 !important;
  }

  h1 {
    font-size:42px;
  }

  .attrs {
    font-size:13px;
  }

  .side-info {
    flex-grow:1;
  }
}
