@import url('https://fonts.googleapis.com/css?family=Raleway:600|Open+Sans:300,600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-image:linear-gradient(#000, #2A1B39);
  background-repeat:no-repeat;
  background-attachment:fixed;
  color:rgb(10,10,10);
  font-size:14px;
  height:100vh;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  color:#19213D;
}

h4 a {
  font-weight:200;
  color:#1b1c1e;
  font-size:18px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

h4 a:hover {
  border-bottom:1px solid rgba(0,0,0,1);
  text-decoration:none;
}



a {
  text-decoration:none;
  font-weight:600;
  color:purple;
}

a:hover {
  color:black;
}

button:hover {
  background-color:#218838;
}

.font-large {
  font-size:24px;
}

.masthead {
  min-height: 400px;
  position:relative;
}

.col-left {
  padding-left:150px;
  width:45%;
}

.col-right {
  width:55%;
}

.portfolio {
  padding:30px 50px
}

.banner h2 {
  color:white;
  padding:50px 50px 10px 77px;
}


.button-green {
  background-color:#5D9A5D;
}

.descr {
  text-shadow: 0 1px 0 #000;
  align-items:flex-end;
  width:45% !important;
}

.side-info {
  width:45% !important;
}

.card {
  width:22%;
  border:none;
  background-color:#f0f0f0;
  box-shadow:1px 1px 17px rgba(0,0,0,0.1);
  margin:0 17px 17px;
  border-radius:1px;
}

.portfolio-code .card {
  border-left:7px dashed rgba(42,27,57,0.9);
}

.portfolio-websites .card {
  border-top:7px dashed rgba(42,27,57,0.9);
}

.portfolio-other .card {
  border-left:7px dashed rgba(42,27,57,0.9);
}

.card-left {
  width:35%;
  cursor:pointer;
}
.card-left:hover {
  opacity:0.9;
}
.card-right {
  width:65%;
  padding:20px 10px;
}

.row-top {
  height:150px;
  cursor:pointer;
  display:flex;
  align-items:flex-end;
}

.row-top:hover {
  opacity:0.9;
}

.row-top span {
  background-color:rgba(240,240,240,0.9);
  padding:5px 15px;
  width:100%;
}

.row-top span h4 {
  font-weight:500;
  text-shadow:1px 1px 17px rgba(0,0,0,0.3);
  font-size:20px;
}

.row-bottom {
  padding:7px;
}

.row-bottom span {
  width:100%;
  display:inline-block;
  padding:7px;
}


.card-large {
  background-color:white;
  border-radius:0.25rem;
  padding:15px;
  margin:5px;
  border:1px solid rgba(0,0,0,0.1);
}

.skills-main {
  margin:5px;
}


.skills-main .skill {
  margin:3px 3px;
  background-color:rgba(255,255,255,0.1);
  box-shadow:0px 0px 17px rgba(0,0,0,0.1);
  padding:5px 10px;
  border: dashed 1px rgba(255,255,255,0.1);
  border-radius:3px;
  font-size:18px;
}

.card .skill {
  background-color:rgba(255,255,255,0.1);
  box-shadow:0px 0px 17px rgba(0,0,0,0.1);
  padding:3px;
  border: dashed 1px rgba(255,255,255,0.1);
  border-radius:3px;
  font-size:10px;
}

.skill-list {
  display:flex;
}

.skill-list .skill {
  text-align:center;
  margin:0 5px 0 0;
}

.list-more {
  padding-top:10px;
  text-align:left;
  list-style-type:circle;
  font-size:12px;
}

.list-more a {
  font-weight:500;
  font-size:1.2em;
}

/* Utilities */

.smaller-font {
  font-size:12px;
}

/* Avatar */

.profile-pic {
  width:150px;
  height:150px;
}

.img-round {
  border-radius:50%;
}


#social-links {
  padding:0;
  list-style:none;
}

#social-links li {
  display:inline;
  font-size:36px;
  padding:0 5px;
}

#social-links li a {
  color: #5D9A5D;
  transition: color 0.2s;
}

#social-links li a:hover {
  color: #218838;
}

/* Modal */
.modal-title {
  font-size:16px;
}

/* Responsive Queries */

@media only screen and (max-width: 1200px) {
  .card {
    width:300px;
  }

  .skills-main .skill {
    font-size:14px;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width:100%;
    margin-bottom:20px;
  }

  .card-wildcard {
    padding-bottom:20px;
  }

  .descr {
    width:100% !important;
    text-align:center !important;
    align-items:center;
    margin:0 !important;
  }

  .font-large {
    font-size:18px;
  }

  h1 {
    font-size:42px;
  }

  h2 {
    font-size:22px;
  }

  .banner h2 {
    padding:20px 0 10px 15px;
  }

  .col-left {
    padding:0;
  }

  .portfolio {
    padding:0;
  }

  h5 {
    font-size:16px;
  }

  .attrs {
    font-size:13px;
  }

  .side-info {
    flex-grow:1;
  }

  .skills-main {
    padding-left:10px;
}

.skills-main .skill {
  font-size:12px;
}
}
