@import url('https://fonts.googleapis.com/css?family=Raleway:600|Open+Sans:300,600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color:#261831;
  background-image:linear-gradient(#442a68,#261831);
  color:rgb(10,10,10);
  font-size:14px;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  color:#19213D;
}


ul {
  list-style:none;
}

a {
  color:#73AA25;
  text-decoration:none;
  font-weight:600;
}

a:hover {
  color:#9AE19D;
  transition:color 0.5s;
}

/* Utilities */

.smaller-font {
  font-size:12px;
}

.flex-center {
  display:flex;
  justify-content:center;
  align-items:center;
}

/* Button */

.btn-green {
  background-color:#73AA25;
  padding:5px 15px;
  color:white;
  border-radius:3px;
  transition:background-color 0.5s;
}

.btn-green:hover {
  background-color:#9AE19D;
  color:white;
}

/* Avatar */

.profile-pic {
  width:200px;
  height:200px;
}

.img-round {
  border-radius:50%;
}


#social-links {
  padding:0;
  list-style:none;
}

#social-links li {
  display:inline-block;
  font-size:40px;
  padding:0 5px;
}

/* Responsive Queries */

@media only screen and (max-width: 768px) {
  .card {
    width:80%;
  }
}
